$textColor : #131D34;
$baseWhite : #FFF;
$navColour : #D4F1F8;
$navLinkCol: #E9F8FB;
$nvHovColor: #2498B3;
$textWeight: 700;
$headerHght: 70px; 
$mblHeight : 50px;
$mainIconW : 100px;
$mediaIconW: 60vw;
$mainIconM : -12rem auto 0 auto;

@mixin media($width-media : 1220px) {
    @media only screen and (max-width : $width-media) {
        @content;
    }
}

@keyframes slidein {
    from {
      opacity: 1;
      transform: rotate(0deg);
    }
  
    to {
      opacity: 0;
      transform: rotate(-45deg);
    }
  }


* {
    font-size: 14px;
    color: $textColor;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", MyYuGothicM, YuGothic, -apple-system, BlinkMacSystemFont, "Hiragino kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
    text-rendering: "Noto Sans JP Black";
}
a, *:hover, *:active {
    text-decoration: none;
    color: $textColor;
}
dt, dd, ul, li {
    list-style: none;
    display: inline-block;
    text-align: start;
    padding-inline-start: 0;
}
body {
    position: relative;
    color: #121212;
}
button {
    border-width: 1em;
    border-radius: 5px;
    background-color: inherit;
    border-style: solid;
}
*:target {
    visibility: visible;
}

.header {
    background: $baseWhite;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: $headerHght;
    z-index: 9999;
    @include media {
        margin: 0;
        height: $mblHeight;
    }
    &_logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1em 0 1em 3.6em;
        @include media {
            padding: 0 0 0 1em;
            width: calc(100vw - $mblHeight);
            height: $mblHeight;
            background: $baseWhite;
            z-index: 9999;
        }
        &-img {
            height: 2em;
        }
        &-txt {
            display: block;
            margin: 0 0.6em;
            font-size: 1em;
            font-weight: $textWeight + 200;
            line-height: 1.1em;
            &-accent {
                font-size: 1.3em;
            }
            @include media {
                display: none;
            }
        }
    }
    &_nav {
        display: block;
            @include media {
                display: flex;
                width: auto;
                height: auto;
                justify-content: flex-end;
                align-items: center;
            }
        &-wrap {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0;
            margin: 0;
            height: $headerHght;
            @include media {
                display: none;
                opacity: 1;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100vw;
                position: absolute;
                overflow: hidden;
                height: auto;
                line-height: $mblHeight;
                //max-height: 9999px;
                z-index: -9999;
                background: $baseWhite;
                top: $mblHeight;
                //transition: top 1s;
            &.opened-wrap {
                    display: flex;
                    opacity: 1;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100vw;
                    position: absolute;
                    overflow: hidden;
                    height: auto;
                    line-height: $mblHeight;
                    //max-height: 9999px;
                    z-index: -9999;
                    background: $baseWhite;
                    top: $mblHeight;
                    //transition: top 1s;
                }
            }
        }
        &-list {
            display: inline-block;
            position: relative;
            line-height: $headerHght;
            height: $headerHght;
            width: auto;
            background: $baseWhite;
            @include media {
                overflow: hidden;
                width: calc( 100vw - $mblHeight );
                height: $mblHeight;
                max-height: $mblHeight;
                //transition: max-height 1s;
                &.opened-lisb {
                    overflow: visible;
                    height: auto;
                    max-height: 9999px;
                    //transition: max-height 1s;
                    &:hover{
                        background: #F3FAFB;
                    }
                }
            }
            .header_nav-list-sub {
                position: absolute;
                display: inline-block;
                height: auto;
                width: auto;
                top: $headerHght;
                left: 0;
                height: 0;
                max-height: 0;
                transition: top 1s ease-in;
                z-index: -9999;
                &-link{
                    opacity: 0;
                    display: block;
                    height: $headerHght;
                    line-height: $headerHght;
                    padding: 0 3em 0 1em;
                    font-weight: $textWeight;
                    white-space: nowrap;
                    background: $navLinkCol;
                    transition: opacity 1s ease-in;
                }
            }
            &.hover {
                @extend .header_nav-list;
            }
            &-sub.hover {
                @extend .header_nav-list-sub;
                top: $headerHght;
                transition: top 1s ease-in;
            }
            &-sub-link.hover {
                @extend .header_nav-list-sub-link;
                opacity: 1;
                transition: opacity 1s ease-out;
            }
            &-txt {
                display: inline-block;
                white-space: nowrap;
                height: $headerHght;
                line-height: $headerHght;
                font-weight: $textWeight;
                font-size: 1.2em;
                padding: 0 1em;
                z-index: 9999;
                background-color: $baseWhite;
                &:hover {
                    @extend .header_nav-list-txt;
                    background: $navColour;
                }
                @include media {
                display: inline-block;
                height: $mblHeight;
                line-height: $mblHeight;
                font-weight: $textWeight;
                font-size: 1.2em;
                padding: 0 1em;
                &:hover {
                    display: inline-block;
                    height: $mblHeight;
                    line-height: $mblHeight;
                    font-weight: $textWeight;
                    font-size: 1.2em;
                    padding: 0 1em;
                    background: $baseWhite;
                }
            }
            &-sub {
                display: flex;
                position: absolute;
                top: $headerHght;
                flex-wrap: wrap;
                width: 20em;
                @include media {
                    .header_nav-list-sub-link {
                        width: 100vw;
                        background: $baseWhite;
                    }
                }
            }
            &-sub-link {
                width: 20em;
                line-height: 4em;
                height: 4em;
                text-indent: 1em;
                background: $navLinkCol;
                font-weight: $textWeight;
                color: inherit;
                &:hover{
                    width: 20em;
                    line-height: 4em;
                    height: 4em;
                    text-indent: 1em;
                    background: $baseWhite;
                    color: $nvHovColor;
                }
            }
        }
    }
        @include media {
            .ico_plsmns {
                display: block;
                position: relative;
                width: $mblHeight;
                height: $mblHeight;
                margin: 0 auto auto auto;
                &::before {
                    content: "";
                    position: absolute;
                    top: .6em;
                    right: .8em;
                    border-bottom: $textColor 0.2em solid;
                    width: 2em;
                    height: 2em;
                    margin: -1em auto 0 auto;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 1.7em;
                    right: 1.7em;
                    border-right: $textColor 0.2em solid;
                    width: 2em;
                    height: 2em;
                    margin: -1em auto 0 auto;
                }
                &.opened-slide {
                    display: block;
                    position: relative;
                    width: $mblHeight;
                    height: $mblHeight;
                    max-height: 9999px;
                    background: #F7F7F7;
                    &::before {
                        content: "";
                        position: absolute;
                        top: .6em;
                        right: .8em;
                        border-bottom: $textColor 0.2em solid;
                        width: 2em;
                        height: 2em;
                        margin: -1em auto 0 auto;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 1.7em;
                        right: 1.7em;
                        border-right: transparent 0.2em solid;
                        width: 2em;
                        height: 2em;
                        margin: -1em auto 0 auto;
                    }  
                }    
            }
        }
        &-list {
            &-sub.close {
                display: none;
            }
        }
        & &-list-sub {
            @include media {
                    opacity: 0;
                    overflow: hidden;
                    display: contents;
                    position: relative;
                    flex-wrap: wrap;
                    top:  -350px;
                    left: 0;
                    width: 100vw;
                    height: auto;
                    max-height: 0;
                    transition: all 1.8s;
                &.opened-list {
                    opacity: 1;
                    overflow: hidden;
                    display: contents;
                    position: relative;
                    flex-wrap: wrap;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: auto;
                    max-height: 9999px;
                    transition: all 1.8s;
                    .header_nav-list-sub-link {
                        display: block;
                        height: auto;
                        position: relative;
                        top: 0;
                        left: 0;
                        //max-height: $headerHght;
                        transition: all 1s;
                    }
                }
                &-link {
                    opacity: 0;
                    display: block;
                    height: auto;
                    line-height: 0;
                    //max-height: 0;
                    //transition: max-height .2s;
                    &-tag {
                        font-weight: $textWeight+200;
                        padding: 0 0 0 2em;
                    }
                }
                &.opened-list .header_nav-list-sub-link {
                    opacity: 1;
                    display: block;
                    height: auto;
                    line-height: 4em;
                    &-tag {
                        font-weight: $textWeight+200;
                        padding: 0 0 0 2em;
                    }
                }
            }
        }
        &-link {
            line-height: $headerHght;
            height: $headerHght;
            @include media {
                width: 100vw;
            }
            &-txt {
                display: inline-block;
                height: $headerHght;
                line-height: $headerHght;
                font-weight: $textWeight;
                font-size: 1.2em;
                padding: 0 1em;
                &:hover {
                    background: $navColour;
                }
            }
        }
        &-link.sign_up {
            @include media {
                display: none;
            }
            .header_nav-link-txt {
                font-weight: $textWeight;
                background: $nvHovColor;
                color: $baseWhite;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@include media {
    .icon_hamburger-wrap {
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: $mblHeight;
        height: $mblHeight;
        margin: auto;
        padding: 0;
        background: $baseWhite;
        right: 0;
        top: 0;
        bottom: 0;
        &.opened-sub {
            opacity: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: $mblHeight;
            height: $mblHeight;
            margin: auto;
            padding: 0;
            background: $nvHovColor;
            right: 0;
            top: 0;
            bottom: 0;
        } 
        .icon_hamburger{
            display: block;
            position: absolute;
            right: 1em;
            width: 1.6em;
            height: 1em;
            margin: .7em auto;
            border-top: $nvHovColor 0.2em solid;
            animation-name: slidein;
            &::before {
                content:"";
                position: absolute;
                top: calc(50% - 0.2em);
                width: 1.6em;
                height: 1em;
                border-top: $nvHovColor 0.2em solid;
            }
            &::after {
                content:"";
                position: absolute;
                bottom: 0;
                width: 1.6em;
                height: 1em;
                border-bottom: $nvHovColor 0.2em solid;
            }
            &.opened-sub {
                display: block;
                position: absolute;
                right: 0;
                left: 0;
                margin: 0 1em;
                width: 1.6em;
                height: 1em;
                margin: .7em auto;
                border-top: transparent 0.2em solid;
                //transition: all 1s;
                &::before {
                    content:"";
                    position: absolute;
                    top: .3em;
                    width: 1.6em;
                    height: 1em;
                    margin: 0 0 0 -0.3em;
                    border-top: $baseWhite 0.2em solid;
                    transform: rotate(45deg);
                }
                &::after {
                    content:"";
                    position: absolute;
                    bottom: .3em;
                    width: 1.6em;
                    height: 1em;
                    margin: 0 0 0 -0.3em;
                    border-bottom: $baseWhite 0.2em solid;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.main {
    display: block;
    position: inherit;
    padding: $headerHght 0 0 0;
    min-width: 100vw;
    background-image: url('/image/main-bg-3.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    &_window {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100vw;
        aspect-ratio: 2000 / 800;
        background-image: url('/image/main-bg-2.png');
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
        &-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 100vw;
            aspect-ratio: 2000 / 800;
            background-image: url('/image/main-bg-1.png');
            background-attachment: scroll;
            background-position: center;
            background-size: cover;
            }
        &-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25vw;
            margin: $mainIconM;
            flex-wrap: wrap;
            background: $baseWhite;
            border-radius: 10px;
            border: $baseWhite 2em solid;
            box-sizing: border-box;
            &-img {
                display: block;
                height: 4em;
            }
            &-txt {
                display: block;
                margin: 1.2em 0;
                font-size: 1em;
                font-weight: $textWeight + 200;
                line-height: 2.2em;
                text-align: center;
                @include media {
                    width: 100vw;
                }
            }
            &-btn {
                display: block;
                margin: 1.4em auto -0.6em auto;
                font-size: 1.2em;
                font-weight: $textWeight + 200;
                border-color: $nvHovColor;
                background: $nvHovColor;
                color: $baseWhite;
            }
        }
    }
    &_icon {
        display: flex;
        flex-wrap: nowrap;
        width: 100vw;
        height: 100vh;
        justify-content: space-around;
        align-items: flex-start;
        background: $textColor;
        color: $baseWhite;
        padding-bottom: 3em;
        &-{
            display: flex;
            flex-wrap: wrap;
            width: calc($mainIconW * 2 + 2rem);
            font-weight: $textWeight + 200;
            &icon {
                display: block;
                width : $mainIconW * 2;
                height: $mainIconW * 2;
                margin: $mainIconM;
                padding: 0;
                text-align: center;
                border: $textColor 0.5rem solid;
                border-radius: $mainIconW * 2;
                background: $baseWhite;
                color: $textColor;
                font-size: $mainIconW;
                line-height: $mainIconW * 2;
            }
            &title {
                display: flex;
                justify-content: center;
                color: $baseWhite;
                width: 100%;
                line-height: 2.8em;
                font-size: 1.7em;
            }
            &txt {
                display: block;
                color: $baseWhite;
                line-height: 1.8em;
                font-size: 1.2em;
                padding: 1em 0;
            }    
        }
    }
    @include media {
        display: block;
        position: inherit;
        padding: $mblHeight 0 0 0;
        width: 100vw;
        height: auto;
        aspect-ratio: 2000 / 800;
        background-image: url('/image/main-bg-3.png');
        background-attachment: fixed;
        background-position: 0 $mblHeight;
        background-size: contain;
        background-repeat: no-repeat;
        &_window {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100vw;
            aspect-ratio: 2000 / 800;
            background-image: url('/image/main-bg-2.png');
            background-attachment: scroll;
            background-position: center;
            background-size: cover;
            &-wrap {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 100vw;
                aspect-ratio: 2000 / 800;
                background-image: url('/image/main-bg-1.png');
                background-attachment: scroll;
                background-position: center;
                background-size: cover;
                }
            &-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100vw;
                margin: 0 auto;
                flex-wrap: wrap;
                background: $baseWhite;
                border-radius: 10px;
                border: $baseWhite 2.4em solid;
                box-sizing: border-box;
                &-img {
                    display: none;
                    height: 4em;
                }
                &-txt {
                    display: block;
                    margin: 0;
                    font-size: 1em;
                    font-weight: $textWeight + 200;
                    line-height: 2.2em;
                    text-align: center;
                }
                &-btn {
                    display: block;
                    margin: 1.4em auto -0.6em auto;
                    font-size: 1.2em;
                    font-weight: $textWeight + 200;
                    border-color: $nvHovColor;
                    background: $nvHovColor;
                    color: $baseWhite;
                }
            }
        }
        &_icon {
            display: flex;
            flex-wrap: wrap;
            width: 100vw;
            height: auto;
            justify-content: space-around;
            align-items: flex-start;
            background: $textColor;
            color: $baseWhite;
            padding: 3em 0;
            &-{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: calc($mediaIconW + 2rem);
                font-weight: $textWeight + 200;
                margin: auto auto 3em auto;
                &icon {
                    display: block;
                    width : $mediaIconW;
                    height: $mediaIconW;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    border: $textColor 0.5rem solid;
                    border-radius: $mediaIconW;
                    background: $baseWhite;
                    color: $textColor;
                    font-size: 36vw;
                    line-height: $mediaIconW;
                }
                &title {
                    display: flex;
                    justify-content: center;
                    color: $baseWhite;
                    width: 100%;
                    line-height: 2.8em;
                    font-size: 1.7em;
                }
                &txt {
                    display: block;
                    color: $baseWhite;
                    line-height: 1.8em;
                    font-size: 1.2em;
                    padding: 1em 0;
                }    
            }
        }    
    }
}

.sticky_sticker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: $mainIconW * 1.5;
    height: $mainIconW * 1.5;
    bottom: 2em;
    right: 2em;
    background: #A2D729;
    border-top: solid 1px #c1ff30;
    border-bottom: solid 3px #9AC33D;
    border-radius: 50%;
    &-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &::after {
            content:url('/image/sticky-tekkun.svg');
            position: absolute;
            top: 4em;
            right: -2em;
            width: $mainIconW * 0.6;
            height: auto;
        }
    }
    &-img {
        width: 3em;
        height: auto;
        padding: 0 calc(($mainIconW * 1.5 - 3em) / 2);
    }
    &-txt {
        padding: 0.4em 0;
        font-size: 1.2em;
        line-height: 1.4em;
        font-weight: 900;
    }
}
@include media {
    .sticky_sticker {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: $mediaIconW / 2;
        height: $mediaIconW / 2;
        bottom: 2em;
        right: 2em;
        background: #A2D729;
        border-top: solid 1px #c1ff30;
        border-bottom: solid 3px #9AC33D;
        border-radius: 50%;
        transform: scale(0.8);
        &-link {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            &::after {
                content:url('/image/sticky-tekkun.svg');
                position: absolute;
                top: 4em;
                right: -3em;
                width: $mainIconW * 0.6;
                height: auto;
            }
        }
        &-img {
            width: 3em;
            height: auto;
            padding: 0 calc(($mainIconW * 1.5 - 3em) / 2);
        }
        &-txt {
            padding: 0.4em 0;
            font-size: 1.2em;
            line-height: 1.4em;
            font-weight: 900;
        }
    }
};