$textColor : #131D34;
$baseWhite : #FFF;
$navColour : #D4F1F8;
$navLinkCol: #E9F8FB;
$navListCol: #F3FAFB;
$nvHovColor: #2498B3;
$textWeight: 700;
$headerHght: 70px; 
$mblHeight : 50px;
$mainIconW : 100px;
$mainWidth : 650px;
$mainHeight: 650px;
$mainMblHgh: 150px;
$mediaIconW: 60vw;
$mainIconM : -12rem auto 0 auto;


@mixin media($width-media : 1200px) {
    @media only screen and (max-width : $width-media) {
        @content;
    }
}
@mixin notepc($width-notepc : 1078px) {
    @media only screen and (max-width: $width-notepc){
        @content;
    }
}
@mixin mobile($width-mobile : 767px) {
    @media only screen and (max-width: $width-mobile){
        @content;
    }
}
@mixin sphone($width-sphone : 500px) {
    @media only screen and (max-width: $width-sphone){
        @content;
    }
}
@mixin gpphon($width-sphone : 375px) {
    @media only screen and (max-width: $width-sphone){
        @content;
    }
}


@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');


* {
    font-size: 14px;
    color: $textColor;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", MyYuGothicM, YuGothic, -apple-systrem, BlinkMacSystremFont, "Hiragino kaku Gothic ProN", Meiryo, Verdana, arial, helvetica, sans-serif;
    text-rendering: "Noto Sans JP Black";
}

a, *:hover, *:active, *:visited {
    text-decoration: none;
    color: $textColor;
    -webkit-tap-highlight-color: transparent;
}
dt, dd, ul, li {
    list-style: none;
    display: inline-block;
    text-align: start;
    padding-inline-start: 0;
}
body {
    position: relative;
    color: #121212;
}
*[class$=-btn] > * {
    border-width: 1px;
    border-radius: 4px;
    background-color: inherit;
    border-style: solid;
}
*:target {
    visibility: visible;
}
*:link {
    transition: 0.5s;
}
*:active {
    transition: 0.5s;
}


.header {
    background: $baseWhite;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: $headerHght;
    z-index: 9999;
    transition: height .3s;
    @include media {
        margin: 0;
        height: $mblHeight;
        transition: height .3s;
    }
    &_logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: $headerHght;
        padding: 1rem 0 1rem 2rem;
        transition: height 0.3s;
        @include media {
            padding: 0 0 0 1rem;
            width: calc(100vw - $mblHeight);
            height: $mblHeight;
            background: $baseWhite;
            z-index: 9999;
            transition: height 0.3s;
        }
        &-img {
            height: 2.35rem;
        }
        &-txt {
            position: relative;
            top: 0;
            left: 0;
            bottom: 0;
            display: block;
            margin: auto 0 auto 0;
            font-size: 1rem;
            font-weight: 900;
            padding: 0 0 0 1rem;
            width: 100%;
            transition: transform .3s, top .3s;
            &-accent {
                font-size: 1.3rem;
            }
            @include media {
                top: -200%;
                left: 0;
                width: 100%;
                transition: transform .3s, top .3s;
            }
        }
    }
    &_nav {
        display: block;
            @include media {
                display: flex;
                width: auto;
                height: auto;
                justify-content: flex-end;
                align-items: center;
            }
        &-wrap {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0;
            margin: 0;
            height: $headerHght;
            @include media {
                position: absolute;
                display: none;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100vw;
                padding: 0;
                margin: 0;    
                overflow: hidden;
                height: auto;
                max-height: 0;
                line-height: $mblHeight;
                z-index: -9999;
                background: $baseWhite;
                top: $mblHeight;
                -webkit-tap-highlight-color: transparent;
                &.opened-wrap {
                    display: flex;
                    opacity: 1;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100vw;
                    position: absolute;
                    overflow: hidden;
                    height: auto;
                    line-height: $mblHeight;
                    z-index: -9999;
                    background: $baseWhite;
                    top: $mblHeight;
                }
            }
        }
        &-list {
            display: inline-block;
            position: relative;
            line-height: $headerHght;
            height: $headerHght;
            width: auto;
            transition: height .3s;
            @include media {
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                top: 0;
                left: 0;
                width: 100vw;
                height: $mblHeight;
                line-height: $mblHeight;
                overflow: hidden;
                transition: height 250ms;
                &:hover, &.hover{
                    background: $baseWhite;
                    -webkit-tap-highlight-color: transparent;
                }
            }
            &:hover {
                background: $navColour;
                @include media {
                    background: $baseWhite;
                }
            }
            &-txt.hover{
                @include media {
                    background: $navListCol;
                    -webkit-tap-highlight-color: transparent;
                }
            }
            &-sub {
                position: absolute;
                display: none;
                height: auto;
                width: auto;
                top: 70px;
                left: 0;
                max-height: 9999px;
                overflow: hidden;
                z-index: -1000;
                &-link {
                    display: block;
                    height: $headerHght - 10px;
                    line-height: $headerHght - 10px;
                    padding: 0 6rem 0 2rem;
                    font-weight: $textWeight - 200;
                    white-space: nowrap;
                    background: $navLinkCol;
                    color: initial;                    
                    &:hover{
                        @extend .header_nav-list-sub-link;
                        background: $baseWhite;
                        > .header_nav-list-sub-link-tag {
                            color: $nvHovColor;
                        }
                    }
                    @include media {
                        opacity: 1;
                        background: $baseWhite;
                    }
                }
            }
            &.hover {
                @extend .header_nav-list;
                position: relative;
            }
            &-sub.hover {
                @extend .header_nav-list-sub;
                top: $headerHght;
                //transition: top 1s ease-in;
            }
            &-sub-link.hover {
                @extend .header_nav-list-sub-link;
                opacity: 1;
                //transition: opacity 1s ease-out;
            }
            &-txt {
                display: inline-block;
                white-space: nowrap;
                height: $headerHght;
                line-height: $headerHght;
                font-weight: $textWeight;
                font-size: 1.2rem;
                padding: 0 0.5rem;
                z-index: 9999;
                overflow-x: hidden;
                @include media {
                display: flex;
                justify-content: space-between;
                height: $mblHeight;
                line-height: $mblHeight;
                font-weight: $textWeight;
                width: 100vw;
                font-size: 1.2rem;
                padding: 0 0 0 1rem;
                z-index: 9999;
                &.hover {
                    background: $navListCol;
                }
            }
            &-sub {
                display: flex;
                position: absolute;
                top: $headerHght;
                flex-wrap: wrap;
                width: 20rem;
            }
            &-sub-link {
                width: 20rem;
                line-height: 4rem;
                height: 4rem;
                text-indent: 1rem;
                background: $navLinkCol;
                font-weight: $textWeight;
                color: inherit;
                z-index: 9999;
                &:hover{
                    @extend .header_nav-list-txt-sub-link;
                    background: $baseWhite;
                    color: $nvHovColor;
                }
            }
        }
    }
        @include media {
            .icon_plsmns {
                display: block;
                position: relative;
                width: $mblHeight;
                height: $mblHeight;
                margin: 0;
                &::before {
                    content: "";
                    position: absolute;
                    top: .6rem;
                    right: .8rem;
                    border-bottom: $textColor 0.2rem solid;
                    width: 2rem;
                    height: 2rem;
                    margin: -1rem auto 0 auto;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 1.7rem;
                    right: 1.7rem;
                    border-right: $textColor 0.2rem solid;
                    width: 2rem;
                    height: 2rem;
                    margin: -1rem auto 0 auto;
                }
                &.js-plsmns--mns {
                    display: block;
                    position: relative;
                    width: $mblHeight;
                    height: $mblHeight;
                    background: #F7F7F7;
                    &::before {
                        content: "";
                        position: absolute;
                        top: .6rem;
                        right: .8rem;
                        border-bottom: $textColor 0.2rem solid;
                        width: 2rem;
                        height: 2rem;
                        margin: -1rem auto 0 auto;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 1.7rem;
                        right: 1.7rem;
                        border-right: transparent 0.2rem solid;
                        width: 2rem;
                        height: 2rem;
                        margin: -1rem auto 0 auto;
                    }  
                }    
            }
        }
        &-list {
            &-sub.close {
                display: none;
            }
            & &-sub {
                @include media {
                    opacity: 1;
                    display: contents;
                    position: relative;
                    flex-wrap: wrap;
                    top:  0;
                    left: 0;
                    width: 100vw;
                    height: $mblHeight;
                    overflow: hidden;
                    &-link {
                        opacity: 1;
                        display: block;
                        height: $mblHeight;
                        position: relative;
                        line-height: $mblHeight;
                        width: 100vw;
                        padding: 0;
                        &-tag {
                            display: block;
                            font-size: 1.2rem;
                            font-weight: $textWeight - 300;
                            padding: 0 0 0 2rem;
                            width: 100vw;
                            height: $mblHeight;
                            line-height: $mblHeight;
                            &:hover {
                                background: $navListCol;
                                color: $textColor;
                                &::after {
                                    position: absolute;
                                    content: "";
                                    width: 50px;
                                    height: 50px;
                                    top: 0;
                                    right: -50px;
                                    background: $navListCol;
                                }
                            }
                            &.hover {
                                background: $navListCol;
                                color: $textColor;
                                &::after {
                                    position: absolute;
                                    content: "";
                                    width: 50px;
                                    height: 50px;
                                    top: 0;
                                    right: -50px;
                                    background: $navListCol;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-link {
            @extend .header_nav-list;
            @include media {
                width: 100vw;
            }
            &-txt {
                display: inline-block;
                height: $headerHght;
                line-height: $headerHght;
                font-weight: $textWeight;
                font-size: 1.2rem;
                padding: 0 1rem;
                &:hover {
                    background: $navColour;
                }
                @include media {
                    line-height: $mblHeight;
                    font-weight: $textWeight;
                    width: 100vw;
                    &:hover {
                        width: 100vw;
                        background: $navListCol;
                    }
                }
            }
        }
        &-link.sign_up {
            @include media {
                display: none;
            }
            .header_nav-link-txt {
                font-weight: $textWeight - 100;
                background: $nvHovColor;
                color: $baseWhite;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@include media {
    .icon_hamburger-wrap {
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: $mblHeight;
        height: $mblHeight;
        margin: auto;
        padding: 0;
        background: $baseWhite;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all 0.2s;
        &.opened-sub {
            @extend .icon_hamburger-wrap;
            background: $nvHovColor;
            transition: all 0.2s;
        }
        .icon_hamburger{
            display: block;
            position: absolute;
            right: 1rem;
            width: 1.6rem;
            height: 1rem;
            margin: .7rem auto;
            border-top: $nvHovColor 0.2rem solid;
            rotate: 0deg;
            transition: all 0.2s;
            &::before {
                content:"";
                position: absolute;
                top: calc(50% - 0.2rem);
                width: 1.6rem;
                height: 1rem;
                border-top: $nvHovColor 0.2rem solid;
                transition: all 0.2s;
            }
            &::after {
                content:"";
                position: absolute;
                bottom: 0;
                width: 1.6rem;
                height: 1rem;
                border-bottom: $nvHovColor 0.2rem solid;
                transition: all 0.2s;
            }
            &.opened-sub {
                display: block;
                position: absolute;
                right: 0;
                left: 0;
                margin: 0 1rem;
                width: 1.6rem;
                height: 1rem;
                margin: .7rem auto;
                border-top: transparent 0.2rem solid;
                transition: all 0.2s;
                &::before {
                    content:"";
                    position: absolute;
                    top: .3rem;
                    width: 1.6rem;
                    height: 1rem;
                    margin: 0 0 0 -0.3rem;
                    border-top: $baseWhite 0.2rem solid;
                    transform: rotate(45deg);
                    transition: all 0.2s;
                }
                &::after {
                    content:"";
                    position: absolute;
                    bottom: .3rem;
                    width: 1.6rem;
                    height: 1rem;
                    margin: 0 0 0 -0.3rem;
                    border-bottom: $baseWhite 0.2rem solid;
                    transform: rotate(-45deg);
                    transition: all 0.2s;
                }
            }
        }
    }
}

.main {
    display: block;
    position: inherit;
    padding: $headerHght 0 0 0;
    width: 100vw;
    height: $mainHeight;
    // aspect-ratio: 2000 / 1600;
    background-image: url('/image/main-bg-3.png');
    background-attachment: fixed;
    background-position: center;
    // background-size: cover;
    &_window {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-origin: padding-box;
        background-image: url('/image/main-bg-2.png');
        background-attachment: scroll;
        background-position: center center;
        // background-size: cover;
        background-repeat: no-repeat;
        &-img {
            display: block;
            width: 100%;
            height: 100%;
            padding: 80px 0 0 0;
            // aspect-ratio: 2000 / 800;
            background-image: url('/image/main-bg-1.png');
            background-origin: padding-box;
            background-attachment: scroll;
            background-position: center center;
            background-repeat: no-repeat;
            // background-size: cover;
        }
    }
    &_article {
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $mainHeight;
        &-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30rem;
            margin: $mainIconM;
            flex-wrap: wrap;
            background: $baseWhite;
            border-radius: 10px;
            border: $baseWhite 2rem solid;
            box-sizing: border-box;
            transition: height .3s;
            &-img {
                display: block;
                figure {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 20rem;
                    }
                }
            }
            &-txt {
                display: block;
                margin: 1.4rem 0;
                font-size: 1.15rem;
                font-weight: 700;
                line-height: 2rem;
                text-align: center;
                width: 100vw;
            }
            &-btn {
                display: block;
                margin: 0.6rem auto -0.6rem auto;
                &-txt {
                    display: block;
                    font-weight: $textWeight;
                    border-color: $nvHovColor;
                    background: $nvHovColor;
                    color: $baseWhite;
                    line-height: 1.4rem;
                    font-size: 1.4rem;
                    padding: 24px 37px;
                }
            }
        }
    }
    &_icon {
        display: flex;
        flex-wrap: nowrap;
        width: 100vw;
        height: 100vh;
        justify-content: center;//space-around;
        align-items: flex-start;
        background: $textColor;
        color: $baseWhite;
        padding-bottom: 3rem;
        &-{
            display: flex;
            flex-wrap: wrap;
            width: calc($mainIconW * 2 + 2rem);
            font-weight: $textWeight + 200;
            margin: 0 4.5rem;
            &icon {
                display: block;
                width : $mainIconW * 2.25;
                height: $mainIconW * 2.25;
                margin: $mainIconM;
                padding: 0;
                text-align: center;
                border: $textColor 0.3rem solid;
                border-radius: $mainIconW * 2;
                background: $baseWhite;
                color: $textColor;
                font-size: $mainIconW;
                line-height: $mainIconW * 2.25;
            }
            &title {
                display: flex;
                justify-content: center;
                color: $baseWhite;
                width: 100%;
                line-height: 2.8rem;
                font-size: 1.7rem;
            }
            &txt {
                display: block;
                color: $baseWhite;
                line-height: 1.8rem;
                font-size: 1.2rem;
                text-align: left;
                padding: 1rem 2%;
                width: 30vw;
            }    
        }
    }
    @include media {
        display: block;
        position: inherit;
        padding: $mblHeight 0 0 0;
        width: 100vw;
        height: $mainHeight;
        // aspect-ratio: 2000 / 1600;
        background-image: url('/image/main-bg-3.png');
        background-attachment: fixed;
        background-position: center;
        // background-size: cover;
        &_window {
            display: block;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-origin: padding-box;
            background-image: url('/image/main-bg-2.png');
            background-attachment: scroll;
            background-position: center center;
            // background-size: cover;
            background-repeat: no-repeat;
            &-img {
                display: block;
                width: 100%;
                height: 100%;
                padding: 0 0 0 0;
                // aspect-ratio: 2000 / 800;
                background-image: url('/image/main-bg-1.png');
                background-origin: padding-box;
                background-attachment: scroll;
                background-position: center center;
                background-repeat: no-repeat;
                // background-size: cover;
            }
        }
        &_article {
            position: absolute;
            top: 50px;
            right: 0;
            left: 0;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: auto;
            height: $mainHeight;
            z-index: 999;
            &-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30rem;
                margin: $mainIconM;
                flex-wrap: wrap;
                background: $baseWhite;
                border-radius: 10px;
                border: $baseWhite 2rem solid;
                box-sizing: border-box;
                transition: height .3s;
                &-img {
                    display: block;
                    figure {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 20rem;
                        }
                    }
                }
                &-txt {
                    display: block;
                    margin: 1.4rem 0;
                    font-size: 1.15rem;
                    font-weight: 700;
                    line-height: 2rem;
                    text-align: center;
                    width: 100vw;
                }
                &-btn {
                    display: block;
                    margin: 0.6rem auto -0.6rem auto;
                    &-txt {
                        display: block;
                        font-weight: $textWeight;
                        border-color: $nvHovColor;
                        background: $nvHovColor;
                        color: $baseWhite;
                        line-height: 1.4rem;
                        font-size: 1.4rem;
                        padding: 24px 37px;
                    }
                }    
            }
        }
        &_icon {
            display: flex;
            flex-wrap: nowrap;
            width: 100vw;
            height: 100vh;
            justify-content: center;//space-around;
            align-items: flex-start;
            background: $textColor;
            color: $baseWhite;
            padding-bottom: 3rem;
            &-{
                display: flex;
                flex-wrap: wrap;
                width:  calc(100vw / 3 - 2rem);
                font-weight: $textWeight + 200;
                margin: 0 4.5rem;
                margin-top: 0;
                margin-bottom: 0; 
                margin-left:min(0.5rem);
                margin-right:min(0.5rem);
                    &icon {
                    display: block;
                    width : $mainIconW * 2.25;
                    height: $mainIconW * 2.25;
                    margin: $mainIconM;
                    padding: 0;
                    text-align: center;
                    border: $textColor 0.3rem solid;
                    border-radius: $mainIconW * 2;
                    background: $baseWhite;
                    color: $textColor;
                    font-size: $mainIconW;
                    line-height: $mainIconW * 2.25;
                }
                &title {
                    display: flex;
                    justify-content: center;
                    color: $baseWhite;
                    width: 100%;
                    line-height: 2.8rem;
                    font-size: 1.7rem;
                }
                &txt {
                    display: block;
                    color: $baseWhite;
                    line-height: 1.8rem;
                    font-size: 1.2rem;
                    text-align: left;
                    padding: 1rem 2%;
                    width: 100vw;
                }    
            }
        }
    }
    @include mobile {
        display: block;
        position: inherit;
        padding: $mblHeight 0 0 0;
        height: $mainMblHgh;
        background-image: url('/image/main-bg-3.png');
        background-attachment: fixed;
        background-position: center center;
        background-size: auto 300px;
        &_window {
            display: flex;
            justify-content: center;
            align-items: center;
            height: $mainMblHgh;
            aspect-ratio: 2000 / 800;
            background-image: url('/image/main-bg-2.png');
            background-attachment: scroll;
            background-position: center center;
            background-size: auto 300px;
            &-img {
                display: block;
                height: $mainMblHgh;
                aspect-ratio: 2000 / 800;
                background-image: url('/image/main-bg-1.png');
                background-attachment: scroll;
                background-position: center -30px;
                background-size: auto 300px;
            }
        }
        &_article {
            position: initial;
            display: flex;
            justify-content: center;
            align-items: center;
            height: $mainMblHgh;
            &-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100vw;
                margin: 0 auto;
                flex-wrap: wrap;
                background: $baseWhite;
                border-radius: 0;
                border: $baseWhite 1rem solid;
                box-sizing: border-box;
                transition: height .3s;
                &-img {
                    display: none;
                    height: 4rem;
                }
                &-txt {
                    display: block;
                    margin: 0;
                    font-size: 0.9rem;
                    font-weight: $textWeight;
                    line-height: 1.6rem;
                    text-align: center;
                }
                &-btn {
                    display: block;
                    margin: 1rem auto 0 auto;
                    &-txt {
                        display: block;
                        font-weight: $textWeight + 200;
                        border-color: $nvHovColor;
                        background: $nvHovColor;
                        color: $baseWhite;
                        padding: 12px 18px;
                        line-height: 1.1rem;
                        font-size: 1.1rem;
                    }
                }
            }
        }
        &_icon {
            display: flex;
            flex-wrap: wrap;
            width: 100vw;
            height: auto;
            justify-content: space-around;
            align-items: flex-start;
            background: $textColor;
            color: $baseWhite;
            padding: 4rem 0;
            &-{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 100vw;
                font-weight: $textWeight + 200;
                margin-top: auto;
                margin-right: max(5.5rem);
                margin-bottom: 4.5rem;
                margin-left: max(5.5rem);
                &icon {
                    display: block;
                    width : 230px;
                    height: 230px;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    border: $textColor 0.5rem solid;
                    border-radius: 50%;
                    background: $baseWhite;
                    color: $textColor;
                    font-size: calc(230px - 6rem);
                    line-height: 230px;
                }
                &title {
                    display: flex;
                    justify-content: center;
                    color: $baseWhite;
                    width: 100%;
                    line-height: 2.8rem;
                    font-size: 1.7rem;
                }
                &txt {
                    display: block;
                    color: $baseWhite;
                    line-height: 1.8rem;
                    font-size: 1.2rem;
                    text-align: left;
                    padding: 1rem 2%;
                    width: 100%;
                }    
            }
        }    
    }
    @include sphone{
        display: block;
        position: inherit;
        padding: $mblHeight 0 0 0;
        height: $mainMblHgh;
        background-image: url('/image/main-bg-3.png');
        background-attachment: fixed;
        background-position: center center;
        background-size: auto 300px;
        &_window {
            display: flex;
            justify-content: center;
            align-items: center;
            height: $mainMblHgh;
            aspect-ratio: 2000 / 800;
            background-image: url('/image/main-bg-2.png');
            background-attachment: scroll;
            background-position: center center;
            background-size: auto 300px;
            &-img {
                display: block;
                height: $mainMblHgh;
                aspect-ratio: 2000 / 800;
                background-image: url('/image/main-bg-1.png');
                background-attachment: scroll;
                background-position: center -30px;
                background-size: auto 300px;
            }
        }
        &_article {
            position: initial;
            display: flex;
            justify-content: center;
            align-items: center;
            height: $mainMblHgh;
            &-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100vw;
                margin: 0 auto;
                flex-wrap: wrap;
                background: $baseWhite;
                border-radius: 0;
                border: $baseWhite 1rem solid;
                box-sizing: border-box;
                transition: height .3s;
                &-img {
                    display: none;
                    height: 4rem;
                }
                &-txt {
                    display: block;
                    margin: 0;
                    font-size: 0.9rem;
                    font-weight: $textWeight;
                    line-height: 1.6rem;
                    text-align: center;
                }
                &-btn {
                    display: block;
                    margin: 1rem auto 0 auto;
                    &-txt {
                        display: block;
                        font-weight: $textWeight + 200;
                        border-color: $nvHovColor;
                        background: $nvHovColor;
                        color: $baseWhite;
                        padding: 12px 18px;
                        line-height: 1.1rem;
                        font-size: 1.1rem;
                    }
                }
            }
        }
        &_icon {
            display: flex;
            flex-wrap: wrap;
            width: 100vw;
            height: auto;
            justify-content: space-around;
            align-items: flex-start;
            background: $textColor;
            color: $baseWhite;
            padding: 4rem 0;
            &-{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 100vw;
                font-weight: $textWeight + 200;
                margin: auto auto 3rem auto;
                &icon {
                    display: block;
                    width : $mediaIconW;
                    height: $mediaIconW;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    border: $textColor 0.5rem solid;
                    border-radius: $mediaIconW;
                    background: $baseWhite;
                    color: $textColor;
                    font-size: 36vw;
                    line-height: $mediaIconW;
                }
                &title {
                    display: flex;
                    justify-content: center;
                    color: $baseWhite;
                    width: 100%;
                    line-height: 2.8rem;
                    font-size: 1.7rem;
                }
                &txt {
                    display: block;
                    color: $baseWhite;
                    line-height: 1.8rem;
                    font-size: 1.2rem;
                    text-align: left;
                    padding: 1rem 2%;
                    width: 100%;
                }    
            }
        }    
    }
    @include gpphon{
        display: block;
        position: inherit;
        padding: $mblHeight 0 0 0;
        height: $mainMblHgh;
        background-image: url('/image/main-bg-3.png');
        background-attachment: fixed;
        background-position: center center;
        background-size: auto 300px;
        &_window {
            display: flex;
            justify-content: center;
            align-items: center;
            height: $mainMblHgh;
            aspect-ratio: 2000 / 800;
            background-image: url('/image/main-bg-2.png');
            background-attachment: scroll;
            background-position: center center;
            background-size: auto 300px;
            &-img {
                height: $mainMblHgh;
                aspect-ratio: 2000 / 800;
                display: block;
                background-image: url('/image/main-bg-1.png');
                background-attachment: scroll;
                background-position: center -30px;
                background-size: auto 300px;
            }    
        }
        &_article {
            position: initial;
            display: flex;
            justify-content: center;
            align-items: center;
            height: $mainMblHgh;
            &-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100vw;
                margin: 0 auto;
                flex-wrap: wrap;
                background: $baseWhite;
                border-radius: 0;
                border: $baseWhite 1rem solid;
                box-sizing: border-box;
                transition: height .3s;
                &-img {
                    display: none;
                    height: 4rem;
                }
                &-txt {
                    display: block;
                    margin: 0;
                    font-size: 0.9rem;
                    font-weight: $textWeight;
                    line-height: 1.6rem;
                    text-align: center;
                }
                &-btn {
                    display: block;
                    margin: 1rem auto 0 auto;
                    &-txt {
                        display: block;
                        font-weight: $textWeight + 200;
                        border-color: $nvHovColor;
                        background: $nvHovColor;
                        color: $baseWhite;
                        padding: 12px 18px;
                        line-height: 1.1rem;
                        font-size: 1.1rem;
                    }
                }
            }
        }
        &_icon {
            display: flex;
            flex-wrap: wrap;
            width: 100vw;
            height: auto;
            justify-content: space-around;
            align-items: flex-start;
            background: $textColor;
            color: $baseWhite;
            padding: 4rem 0;
            &-{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 100vw;
                font-weight: $textWeight + 200;
                margin: auto auto 3rem auto;
                &icon {
                    display: block;
                    width : $mediaIconW;
                    height: $mediaIconW;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    border: $textColor 0.5rem solid;
                    border-radius: $mediaIconW;
                    background: $baseWhite;
                    color: $textColor;
                    font-size: 36vw;
                    line-height: $mediaIconW;
                }
                &title {
                    display: flex;
                    justify-content: center;
                    color: $baseWhite;
                    width: 100%;
                    line-height: 2.8rem;
                    font-size: 1.7rem;
                }
                &txt {
                    display: block;
                    color: $baseWhite;
                    line-height: 1.8rem;
                    font-size: 1.2rem;
                    text-align: left;
                    padding: 1rem 2%;
                    width: 100%;
                }    
            }
        }    
    }
}
.sticky_sticker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: $mainIconW * 1.5;
    height: $mainIconW * 1.5;
    bottom: 2rem;
    right: 2rem;
    background: #A2D729;
    border-top: solid 1px #c1ff30;
    border-bottom: solid 3px #9AC33D;
    border-radius: 50%;
    &-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &::after {
            content:url('/image/sticky-tekkun.svg');
            position: absolute;
            top: 4rem;
            right: -2rem;
            width: $mainIconW * 0.6;
            height: auto;
        }
    }
    &-img {
        width: 3rem;
        height: auto;
        padding: 0 calc(($mainIconW * 1.5 - 3rem) / 2);
    }
    &-txt {
        padding: 0.4rem 0;
        font-size: 1.2rem;
        line-height: 1.4rem;
        font-weight: 900;
    }
}
@include mobile {
    .sticky_sticker {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 10rem;
        height: 10rem;
        top: 65vh;
        left: 75vw;
        background: #A2D729;
        border-top: solid 1px #c1ff30;
        border-bottom: solid 3px #9AC33D;
        border-radius: 50%;
        transform: scale(0.8);
        &-link {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            &::after {
                content:url('/image/sticky-tekkun.svg');
                position: absolute;
                top: 4rem;
                right: -3rem;
                width: $mainIconW * 0.6;
                height: auto;
            }
        }
        &-img {
            width: 3rem;
            height: auto;
            padding: 0 calc(($mainIconW * 1.5 - 3rem) / 2);
        }
        &-txt {
            padding: 0.4rem 0;
            font-size: 1.1rem;
            line-height: 1.1rem;
            font-weight: $textWeight;
            text-align: center;
        }
    }
}
